.video__player {
  width: 335px;
  height: 210px;
}
.container__congratulations {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 25px;
}

.show {
  padding: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show__open {
  opacity: 1;
}

.love {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 75px 64px rgba(255, 255, 255, 0.31);
  -moz-box-shadow: 0px 0px 75px 64px rgba(255, 255, 255, 0.31);
  box-shadow: 0px 0px 75px 64px rgba(255, 255, 255, 0.31);
}