.useVanta {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.parent {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  /* justify-items: center; */
}

.descMap {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  padding: 15px;
}

.button {
  border: 1px solid white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: larger;
  cursor: pointer;
  color: #fff;
}

.button:active {
  background-color: rgb(87, 126, 151);
}


.footer__postition {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
