.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
}

.myModalContent {
    padding: 25px;
    background: #C76E21;
    border-radius: 16px;
    min-width: 250px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
