.block__todo {
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px;
}

.post {
    display: flex;
    padding: 15px;
    background-color: #292929;
    box-shadow: 0px 1px 10px 0px #fff;
    border-radius: 15px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
  display: flex;
}

.post__complete {
  box-shadow: 0px 1px 10px 0px #85fb7c;
  text-decoration: line-through;
}

.post__content > div, .post__content > strong {
  padding: 5px;
}
