.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 12em;
  width: fit-content;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
}

.title {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  border: 1px solid white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: larger;
  cursor: pointer;
}

.button:active {
  background-color: rgb(87, 126, 151);
}

.hrefLnk {
  text-decoration: none;
  color: #fff;
}
